/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  --main-background: rgba(0, 0, 0, 0.05);
  --header-background: rgba(0, 0, 0, 0.1);
  --font-size-xxsmal: 1rem;
  --color-grey: rgba(0, 0, 0, 0.03);
  --color-red: rosybrown;
  --color-primary: blue;
  --color-secondary: lime;

  margin: 0;
  //font-family: Roboto, "Helvetica Neue", sans-serif;
  background: var(--main-background);
}

.flex-placeholder { flex-grow: 1; }
