<mat-accordion class="folder-tree-accordion">
  <mat-expansion-panel hideToggle (opened)="showFolderTree = true" (closed)="showFolderTree = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h4 [class.required]="treeRequired && selectedFolderId === null">
          Dossier Keepeek pour les photos <span *ngIf="treeRequired"> *</span>
        </h4>
        <mat-icon aria-label="visibility icon" class="description-on" *ngIf="!showFolderTree"> visibility </mat-icon>
        <mat-icon aria-label="visibility_off icon" class="description-off" *ngIf="showFolderTree">
          visibility_off
        </mat-icon>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
        <button mat-icon-button disabled></button>
        <mat-checkbox class="checklist-leaf-node"
                      [checked]="node.folderId === selectedFolderId"
                      (change)="onSelectionToggle(node, $event)">
          {{node.title}}
        </mat-checkbox>
      </mat-tree-node>

      <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
        <button mat-icon-button type="button"
                matTreeNodeToggle [matTreeNodeToggleRecursive]="true"
                [attr.aria-label]="'Toggle ' + node.title">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        <mat-checkbox
          [checked]="node.folderId === selectedFolderId"
          [indeterminate]="parentsOfSelectedFolder[node.folderId]"
          (change)="onSelectionToggle(node, $event)">
          {{node.title}}
        </mat-checkbox>
        <mat-progress-bar *ngIf="node.children.status === NodeChildrenStatus.LOADING"
                          mode="indeterminate"
                          class="tree-progress-bar"></mat-progress-bar>
        <mat-progress-bar *ngIf="node.children.status !== NodeChildrenStatus.LOADING && node.children.descendantsLoading.length > 0 && !treeControl.isExpanded(node)"
                          mode="buffer"
                          class="tree-progress-bar"></mat-progress-bar>
      </mat-tree-node>
    </mat-tree>
  </mat-expansion-panel>
</mat-accordion>
